<div class="call-to-action">
	<div class="container-cta">
		<div class="row">
			<div class="col-xs-12">
				<h3>Interested in learning about how Veux Labs can help?</h3>
				<p>Learn more about out user experience design and software development services. We work with clients all accross the US &amp; Canada, helping them to achive their product visions. Give us a call, drop us an email, or schedule a time to discuss your project</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-5">
				<h4>Portland</h4>
				<ul class="cta-contact">
					<li class="email"><span><a href="mailto:portland@veuxlabs.com">portland@veuxlabs.com</a></span></li>
					<li class="phone">+1 (503) 928-7731</li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-7">
				<h4>Boston</h4>
				<ul class="cta-contact">
					<li class="email"><span><a href="mailto:boston@veuxlabs.com">boston@veuxlabs.com</a></span></li>
					<li class="phone">+1 (617) 863-0245</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 text-center">
				<a href="https://calendly.com/steve-brown-veuxlabs" class="cta-btn">
					Schedule a Call
				</a>
			</div>
		</div>
	</div>
</div>
