<!-- Footer -->
<footer class="app-dev">
    {% if page.layout == 'default' %}
        {% include footer_top.html %}
    {% endif %}
    <div class="second-row">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline">
                    <li>
                        <a href="#home">Home</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#work">Work</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="/about/">About</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>  
        <div class="row logos">
            <div class="col-md-8">
                <ul class="list-inline">
                    <li>
                        <a target="_blank" href="https://www.linkedin.com/company/veux-labs">    
                            <img src="{{ site.github.url }}/img/linkedInLink.svg" alt="Linked In" class="img-responsive app" /> 
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="mailto:info@veuxlabs.com">    
                            <img src="{{ site.github.url }}/img/emailLink.svg" alt="Linked In" class="img-responsive app" /> 
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row copyright">
            <p class="copyright text-muted small">{{ site.copyright }}</p>
        </div>
    </div>
</footer>
