<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {% if page.layout == 'default' %}
                <a href="/">
                    <img data-no-retina src="{{ site.github.url }}/img/veuxLabsLogo.svg" alt="veux labs logo" class="logo-home" />
                </a>
            {% endif %}
            {% if page.layout == 'internal' %}
                <a href="/">
                    <img data-no-retina src="{{ site.github.url }}/img/veuxLabsLogo.svg" alt="veux labs logo" class="logo" />
                </a>
             {% endif %}
            <!-- <a class="navbar-brand page-scroll" href="#home">{{ site.title }}</a> -->
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">  
                <li>
                    {% if page.title == 'veux labs' %}
                        <a class="page-scroll underline" href="/">Home</a>
                    {% endif %}
                    {% if page.title != 'veux labs' %}
                        <a class="page-scroll" href="/">Home</a>
                    {% endif %}
                </li>
                <li>
                    {% if page.title == 'Work' %}
                        <a class="page-scroll underline" href="/work">Work</a>
                    {% endif %}
                    {% if page.title != 'Work' %}
                        <a class="page-scroll" href="/work">Work</a>
                    {% endif %}
                </li>
                <li>
                    {% if page.title == 'About' %}
                        <a class="page-scroll underline" href="/about">About</a>
                    {% endif %}
                    {% if page.title != 'About' %}
                        <a class="page-scroll" href="/about">About</a>
                    {% endif %}
                </li>            
                <li>
                    {% if page.title == 'Contact' %}
                        <a class="page-scroll underline" href="/contact">Contact</a>
                    {% endif %}
                    {% if page.title != 'Contact' %}
                        <a class="page-scroll" href="/contact">Contact</a>
                    {% endif %}
                </li>
            </ul>
            <button type="button" class="closeButton" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                
            </button>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>


