<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#home">{{ site.title }}</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">  
                <li>
                    <a class="page-scroll" href="#about">About</a>
                </li>            
                <li>
                    <a class="page-scroll" href="#services">Blog</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>


<section id="home">
<!-- Header -->
	<div class="intro-header">

		<div class="container">
            <img src="img/veuxLabsLogo.svg" alt="veux labs logo" />
			
			<div class="pros">{{ page.pros }}</div>
            <ul>
                {% for list in site.list %}
                <li>
                    <a href="{{ list.url }}">{{ list.title }}</a>
                </li>
                {% endfor %}
            </ul>

		</div>
		<!-- /.container -->
        
        <div class="triangle-blue-down"></div>
	</div>
	<!-- /.intro-header -->
</section>

<div class="row services">
    <div class="col-lg-6 col col-sm-12">
        <img src="../img/veux_section1.png" alt="" class="img-responsive" />
    </div>
    <div class="col-lg-6 col col-sm-12">
        <h2>Services</h2>
        <h3>We live for projects that connect apps with the physical world.</h3>
         <p>If your goal is to create app-enabled hardware, an app that controls physical devices, or an app utilizing mobile device sensors, we're your team.</p>
    </div>
</div>
<div class="row bg-blue research">
    <div class="col-lg-12">
        <img src="../img/veux_section2.png" alt="" class="img-responsive section2" />
    </div>
    <div class="col-lg-12">
        <h2>Research</h2>
        <h3>We focus on the end-user.</h3>
        <p>Great products are built on a deep understanding of the people who experience them, and depend on keeping the priorities of those users center stage. </p>
    </div>
    <div class="squares-wrapper">
        <div class="blue-square">&nbsp;</div>
        <div class="blue-square">&nbsp;</div>
        <div class="blue-square">&nbsp;</div>
        <div class="blue-square">&nbsp;</div>
        <div class="blue-square plus-one">&nbsp;</div>
    </div>
</div>

<div class="row design">
    <div class="col-lg-12">
        <div class="design-img">
            <img src="img/agracultureFarmingLab.svg" alt="" class="img-responsive lab" />
            <img src="img/agracultureConnectorLineDiagonal.svg" alt="" class="img-responsive line" />
            <img src="img/agracultureTablet.svg" alt="" class="img-responsive tablet" />
        </div>
    </div>
    <div class="col-lg-12">
        <h2>Design</h2>
        <h3>Interaction Design that aims for simplicity.</h3>
        <p>Easy to use, truly human interfaces, accessible wherever they are, no matter what they're doing.</p>
    </div>
</div>

<div class="row bg-blue app-dev">
    <div class="col-lg-12">
        <div class="dev-img">
            <img src="img/logisticsPhone.svg" alt="" class="img-responsive app" />
            <img src="img/logisticsConnectorLineDiagonal1.svg" alt="" class="img-responsive line" />
            <img src="img/residentialHome.svg" alt="" class="img-responsive home" />
        </div>
    </div>
    <div class="col-lg-12">
        <h2>App Development</h2>
        <h3>Veux is Agile - Agile is lean and effective. </h3>
        <p>Apps are evolved in a series of "sprints." In each sprint, functionality is added and refined. Agile makes development efficient and responsive to change.</p>
    </div>
    <div class="dev-footer"></div>
</div>

<div class="container">
    <div class="row product-development">
        <div class="col-lg-7 col col-sm-12">
            <h2>Product Development</h2>
            <h3>We bring hardware engineering, firmware development, industrial design and manufacturing together. </h3>
             <p>We have the experience, talent and drive to make your product another innovative, beautiful, reliable, cost-effective success.</p>
        </div>
    </div>
    <div class="row product-development-items">
        <div class="col-lg-4 col col-md-4 col-sm-6 col-xs-6">
            <div class="circle">
                <span> MR </span>
            </div>
            <span class="text">market research</span>
        </div>
         <div class="col-lg-4 col col-md-4 col-sm-6 col-xs-6">
            <div class="circle">
                <span> AD </span>
            </div>
            <span class="text">agile development</span>
        </div>
        <div class="col-lg-4 col col-md-4 col-sm-6 col-xs-6">
            <div class="circle">
                <span> SA </span>
            </div>
            <span class="text">system architecture</span>
        </div>
        <div class="col-lg-4 col col-md-4 col-sm-6 col-xs-6">
            <div class="circle">
                <span> UR </span>
            </div>
            <span class="text">user research</span>
        </div>
        <div class="col-lg-4 col col-md-4 col-sm-6 col-xs-6">
            <div class="circle"> 
                <span> PD </span> 
            </div>
            <span class="text">product design</span>
        </div>
        <div class="col-lg-4 col col-md-4 col-sm-6 col-xs-6">
            <div class="circle"> 
                <span> HM </span>
            </div>
            <span class="text">hardware manufacturing</span>
        </div>
        <div class="col-lg-4 col col-md-4 col-sm-6 col-xs-6">
            <div class="circle"> 
                <span>PP </span> 
            </div>
            <span class="text">product planning workshop</span>
        </div>
        <div class="col-lg-4 col col-md-4 col-sm-6 col-xs-6">
            <div class="circle"> 
                <span> UT </span> 
            </div>
            <span class="text">user  testing</span>
        </div>
        <div class="col-lg-4 col col-md-4 col-sm-6 col-xs-6">
            <div class="circle"> 
                <span>SV </span>
            </div>
            <span class="text">system validation</span>
        </div>
        <div class="col-lg-4 col col-md-4 col-sm-6 col-xs-6 false-ui">
            <div class="circle"> 
                <span>UI </span> 
            </div>
            <span class="text">user interface design</span>
        </div>
        <div class="clearfix"> </div>
        <div class="row product-development-items last">
            <div class="circle"> 
                <span>UI </span> 
            </div>
            <span class="text">user interface design</span>
        </div>
    </div>
</div>

<div class="row project-management-top">
    <div class="clearfix"></div>
    <div class="row project-management">   
        <img src="img/aviationGraphic.svg" alt="" class="img-responsive app" />
        <div class="container">
            <div class="col-lg-5 col col-md-5 col-sm-5 col-xs-12"></div>
            <div class="col-lg-7 col col-md-7 col-sm-7 col-xs-12">
                <div class="container">
                    <h2>Project Management</h2>
                    <h3>Project management is one of Veux's core strengths. </h3>
                    <p>Years of experience managing complex technology projects has taught us that disciplined project management makes great results possible.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row support-top">
    <div class="row support">   
        <img src="img/spaceGraphic.svg" alt="" class="img-responsive app" />
        <div class="container">
            <div class="col-lg-7 col col-md-7 col-sm-7 col-xs-12">
                <div class="container">
                    <h2>Support And Maintenance</h2>
                    <h3>The world of technology never stops - Veux stays with you also after launch.</h3>
                    <p>We offer ongoing support to help you keep that successful product up to date and running smoothly.</p>
                </div>
            </div>
            <div class="col-lg-5 col col-md-5 col-sm-5 col-xs-12"></div>
        </div>
    </div>
</div>


