<section id="home">
    <!-- Header -->
	<div class="intro-header">

		<div class="container">
            <img src="{{ site.github.url }}/img/veuxLabsLogo.svg" alt="veux labs logo" class="logo" />
			
			<div class="pros">
                <h2> Apps and Objects That Work Together </h2>
                {{ page.pros }}
            </div>
            <ul>
                {% for list in site.list %}
                <li>
                    <a href="{{ list.url }}">{{ list.title }}</a>
                </li>
                {% endfor %}
            </ul>

		</div>
		<!-- /.container -->
        
        <div class="triangle-blue-down"></div>
	</div>
	<!-- /.intro-header -->
</section>