<section id="home">
    <!-- Header -->
	<div class="intro-header">
		<div class="container">
            <img data-no-retina src="{{ site.github.url }}/img/veuxLabsLogo.svg" alt="veux labs logo" class="logo" />
			<div class="pros">
                <h2> Creating Apps and Objects That Work <b id="textUpdate"> </b> </h2>
                {{ page.pros }}
            </div>
            <ul>
                {% for list in site.list %}
                <li>
                    <a href="{{ list.url }}">{{ list.title }}</a>
                </li>
                {% endfor %}
            </ul>

		</div>
		<!-- /.container -->
        
        <div class="triangle-blue-down"></div>
	</div>
	<!-- /.intro-header -->
</section>

<script type="text/javascript">
//<![CDATA[ 
    function shuffle(array) {
      var currentIndex = array.length, temporaryValue, randomIndex;
      while (0 !== currentIndex) {
        randomIndex = Math.floor(Math.random() * currentIndex);
        currentIndex -= 1;
        temporaryValue = array[currentIndex];
        array[currentIndex] = array[randomIndex];
        array[randomIndex] = temporaryValue;
      }
      return array;
    }

    var features = ['Harmoniously', 'Seamlessly ', 'Brilliantly', 'Intuitively'];
    features = shuffle(features);
    var output = '';
    var counter = 0;
    document.getElementById('textUpdate').innerHTML = features[0];

    window.setInterval(function() {
        if (counter < features.length - 1) {
            output = features[counter];
            counter++;
        } else {   
            output = features[counter];
            counter = 0;
        }
        document.getElementById('textUpdate').innerHTML = output;
    }, 2000);
//]]>
</script>