<h1>Bowflex SelectTech App</h1>
  	<div class="content main-div">
  		<div class="content-div first">
	 		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mid-column1">
	 			<h2>Project</h2>
	 			<h3>Bowflex SelectTech Trainer App</h3>
				<h2>Client</h2>
				<h3>Nautilus Inc.</h3>
				<a target="_blank" href="https://itunes.apple.com/us/app/bowflex-selecttech/id1017061254?mt=8">
					<img data-no-retina class="img-responsive" src="../img/AppleAppStore.svg"/>
				</a>
				<a target="_blank" href="https://play.google.com/store/apps/details?id=com.veuxlabs.titan.android&hl=en">
					<img data-no-retina class="img-responsive" src="../img/GooglePlayStore.svg"/>
				</a>
	 		</div>
	 		<div class="last col-lg-6 col-md-6 col-sm-6 col-xs-12 mid-column2">
	 			<img class="img-responsive" src="../img/work_selecttech/selecttech_header_graphic.png"/>
	 		</div>
 		</div>
 		<div class="content-div">
	 		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	 			<h1 class="title">Challenge</h1>
	 			<p>
	 				<span>Creating a new product category—Connected Dumbbells </span> <br>
	 				Bowflex’s SelectTech is an adjustable at-home weight-lifting system. Instead of
	 				buying a rack of different weights, users purchase a single pair of dumbbells—the 
	 				weight can be dialed up or down. The SelectTech 560 3D Trainer model is the first 
	 				connected dumbbell, which presented unique usability challenges to solve with the app. 
	 				In developing an app to accompany SelectTech, Veux Labs considered several key questions. 
	 				How could the app function as a virtual trainer to make a workout routine more effective 
	 				and engaging? Could the app help the user work toward a goal, to foster a sense of progress 
	 				or accomplishment? How could the app help shorten the user’s learning curve with the 
	 				3D Trainer model?
	 			</p>
	 		</div>
 		</div>
 		<div class="content-div">
 			<h1 class="title">Solution</h1>
 			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
 				<img class="img-responsive" src="../img/work_selecttech/selecttech_intro_phone.png"/>
 				<span class="img-description ">Intro </span>
 			</div>
 			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
 				<img class="img-responsive" src="../img/work_selecttech/selecttech_select_phone.png"/>
 				<span class="img-description ">Model Selection </span>
 			</div>
 			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
 				<img class="img-responsive" src="../img/work_selecttech/selecttech_pair_phone.png"/>
 				<span class="img-description ">Bluetooth Pairing</span>
 			</div>
 			<div class="last col-lg-3 col-md-3 col-sm-3 col-xs-6">
 				<img class="img-responsive" src="../img/work_selecttech/selecttech_device_phone.png"/>
 				<span class="img-description ">Connected Devices</span>
 			</div>	
 		</div>
 		<div class="content-div">
 			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	 			<p>
	 				<span>Creating an In-Home Coach and Manager</span> <br>
	 				Veux designed the app to work with the 552 and 1090 models, as well as the 
	 				top-of-the-line "3D Trainer" 560 model—the first Bluetooth-connected weight 
	 				equipment. Regardless of which dumbbell they own, users can rely on the app to 
	 				lead a workout: from announcing the exercise, required weight, and number of reps 
	 				through counting down interim rests. The app can then integrate data with Apple 
	 				Health or Google Fit. When connected to the 3D Trainer model, the app auto-tracks 
	 				sets, reps, weight, and speed.
	 			</p>
	 		</div>
	 	</div>
	 	<div class="content-div">
 			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
 				<img class="img-responsive" src="../img/work_selecttech/selecttech_workout_phone.png"/>
 				<span class="img-description ">Exercise </span>
 			</div>
 			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
 				<img class="img-responsive" src="../img/work_selecttech/selecttech_entry_phone.png"/>
 				<span class="img-description ">Rep & Weight Entry</span>
 			</div>
 			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
 				<img  class="img-responsive" src="../img/work_selecttech/selecttech_rest_phone.png"/>
 				<span class="img-description ">Rest Timer</span>
 			</div>
 			<div class="last col-lg-3 col-md-3 col-sm-3 col-xs-6">
 				<img class="img-responsive" src="../img/work_selecttech/selecttech_summary_phone.png"/>
 				<span class="img-description ">Workout Summary</span>
 			</div>	
 		</div>
 		<div class="content-div">
 			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mid-column1">
	 			<p>
	 				<span>Building Knowledge, Muscles</span> <br>
	 				Users can choose from among six predefined workouts that focus on 
	 				different muscle groups and body areas. Those who are new to weight 
	 				lifting can try a six-week challenge that offers a series of increasingly 
	 				challenging workouts. Videos and detailed descriptions help perfect form and pace.
	 			</p>
	 		</div>
	 		<div class="last col-lg-6 col-md-6 col-sm-6 col-xs-12 mid-column2">
	 			<p>
	 				<span>Adding Variety</span> <br>
	 				Experienced weightlifters can create their own workouts by selecting from the 80 
	 				exercises in the app’s library. These custom workouts can focus on specific muscle groups.
	 			</p>
	 		</div>
	 	</div>
	 	<div class="content-div">
 			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
 				<img class="img-responsive" src="../img/work_selecttech/selecttech_quickstart_phone.png"/>
 				<span class="img-description ">Quick Start </span>
 			</div>
 			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
 				<img class="img-responsive" src="../img/work_selecttech/selecttech_sixweekchallenge_phone.png"/>
 				<span class="img-description ">6 Week Challenge</span>
 			</div>
 			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
 				<img class="img-responsive" src="../img/work_selecttech/selecttech_exerciseinfo_phone.png"/>
 				<span class="img-description ">Exercise Info</span>
 			</div>
 			<div class="last col-lg-3 col-md-3 col-sm-3 col-xs-6">
 				<img class="img-responsive" src="../img/work_selecttech/selecttech_journal_phone.png"/>
 				<span class="img-description ">Journal</span>
 			</div>	
 		</div>
 		<div class="content-div">
 			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	 			<p>
	 				<span>Tracking Improvement</span> <br>
	 				Users can store data from each workout on the app, either manually 
	 				(for the 552 and 1090) or automatically (with the web-enabled 3D Trainer). 
	 				The app can then calculate short and long-term metrics on workout duration, 
	 				weight lifted, and calories burned. Users can also compare their performance 
	 				over time and share achievements on social media.
	 			</p>
	 		</div>
	 	</div>
 		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 logo-and-top">
 			<img class="img-responsive app-logo" src="../img/work_selecttech/selecttech_app_phone.png"/>
 			<span class="img-description ">App Icon </span>
 			<img data-no-retina src="../img/top.png" id="back-to-top2" class="button-top"/>
 		</div>
  </div>