<h1>Mitel TCO Web App</h1>
	<div class="content main-div">
		<div class="content-div first">
 		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mid-column1">
 			<h2>Project</h2>
 			<h3>Total Cost of Ownership Web App <br> </h3>
			<h2>Client</h2>
			<h3>Mitel & Unified Communications Strategies</h3>
 		</div>
 		<div class="last col-lg-6 col-md-6 col-sm-6 col-xs-12 mid-column2">
 			<img class="img-responsive" src="../img/work_mitel/mitel_header_graphic.png"/>
 		</div>
		</div>
		<div class="content-div">
 		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
 			<h1 class="title">Challenge</h1>
 			<p>
 				<span>Standing Out from the Crowd </span> <br>
 				The unified communications (UC) marketplace is crowded and cacophonous. 
 				With so much noise, it can be difficult for customers to find a business
 				partner that best suits their UC requirements. Mitel has a distinct advantage
 				with its total-cost-of-ownership (TCO) approach, an estimating service that 
 				enables potential clients to compare the costs of Mitel and its competitors. 
 				However, the company’s field sales team and channel partners needed help 
 				communicating the TCO benefit.
 			</p>
 		</div>
		</div>
		<div class="content-div">
 		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
 			<h1 class="title">Solution</h1>
 			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
 				<img class="img-responsive" src="../img/work_mitel/mitel_login_iphone.png"/>
 				<span class="img-description ">Login </span>
 			</div>
 			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
 				<img class="img-responsive" src="../img/work_mitel/mitel_entry_iphone.png"/>
 				<span class="img-description ">Data Entry </span>
 			</div>
 			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
 				<img class="img-responsive" src="../img/work_mitel/mitel_analysis_1_iphone.png"/>
 				<span class="img-description ">System Analysis Result</span>
 			</div>
 			<div class="last col-lg-3 col-md-3 col-sm-3 col-xs-6">
 				<img class="img-responsive" src="../img/work_mitel/mitel_analysis_2_iphone.png"/>
 				<span class="img-description ">TCO Analysis Results</span>
 			</div>	
			</div>
		</div>
		<div class="content-div">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mid-column1">
 			<p>
 				<span>A Valuable Sales Tool</span> <br>
 				Working with the consulting firm UC Strategies, Mitel created a TCO model 
 				that accurately predicts customer savings with Mitel versus the costs of 
 				competitors Cicso, Avaya, and Microsoft. Veux Labs and UC Strategies then 
 				collaborated on a mobile-first, responsive web app, a tool for Mitel’s sales 
 				force to utilize in coming up with TCO estimates for potential clients.
 			</p>
 		</div>
 		<br> <br> 
 		<div class="last col-lg-6 col-md-6 col-sm-6 col-xs-12 mid-column2">
 			<p>
 				<span>Simple Access to Sophisticated Calculations</span> <br>
 				Mitel’s cost model is extraordinarily complex and sophisticated, but the app 
 				designed for it by Veux Labs has an easy-to-understand, easy-to-use interface. 
 				A Mitel sales partner simply enters in six values to generate detailed comparison 
 				graphs that can be easily shared with the customer.
 			</p>
 		</div>
 	</div>
 	<div class="content-div">
 		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mid-column1">
 			<img class="img-responsive" src="../img/work_mitel/mitel_saved_ipad.png"/>
 			<span class="img-description ">Saved Analysis</span>
 		</div>
 		<div class="last col-lg-6 col-md-6 col-sm-6 col-xs-12 mid-column2">
 			<img class="img-responsive" src="../img/work_mitel/mitel_create_ipad.png"/>
 			<span class="img-description ">Data Entry</span>
 		</div>
		</div>
		<div class="content-div">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mid-column1">
 			<p>
 				<span>Accessible on Any Device</span> <br>
 				Our mobile-first design to ensures that the web app is optimized for all devices. 
 				Progressive enhancement modifies the screen configuration, scaling the app from 
 				mobile phones to tablets and desktops.
 			</p>
 		</div>
 		<div class="last col-lg-6 col-md-6 col-sm-6 col-xs-12 mid-column2">
 			<img class="img-responsive" src="../img/work_mitel/mitel_analysis_2_ipad.png"/>
 			<span class="img-description ">TCO Benefits Analysis</span>
 		</div>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
			<img data-no-retina src="../img/top.png" id="back-to-top2" class="button-top"/>
		</div>
	</div>