<h1 class="landing">GEOFENCE DEMO APP</h1>
	<div class="content main-div">
		<div class="content-div first">
 		<div class="col-lg-5 col-md-5 col-sm-6 col-xs-12 mid-column1">
 			<h2 class="landing">Project</h2>
 			<h3 class="landing">Geofence Demo App</h3>
			<h2 class="landing">Client</h2>
			<h3 class="landing">Confidential</h3>
 		</div>
 		<div class="col-lg-7 col-md-7 col-sm-6 col-xs-12 mid-column2">
 			<img class="img-responsive header" src="../img/work_geofence_demo/GeofenceHeader.png"/>
 		</div>
		</div>
		<div class="content-div">
 		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
 			<h1 class="title">Challenge</h1>
 			<p>
 				<!--<span>Header Goes Here</span> <br>-->
 				Depending on state laws, kids as young as 10 can drive off-road vehicles. As any parent 
 				knows, thrills can outweigh common sense, so inexperienced drivers are often tempted to go 
 				farther and faster than their skills allow. A parent-controlled app can set limits on speed 
 				and distance so children gradually master driving capability.
 			</p>
 		</div>
		</div>
		<div class="content-div">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
 			<h1 class="title">Solution</h1>
 			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
 				<img class="img-responsive" src="../img/work_geofence_demo/Device01.png"/>
 				<span class="img-description ">Start</span>
 			</div>
 			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
 				<img class="img-responsive" src="../img/work_geofence_demo/Device02.png"/>
 				<span class="img-description ">Creating Geofence</span>
 			</div>
 			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
 				<img class="img-responsive" src="../img/work_geofence_demo/Device03.png"/>
 				<span class="img-description ">Creating Geofence</span>
 			</div>
 			<div class="last col-lg-3 col-md-3 col-sm-3 col-xs-6">
 				<img class="img-responsive" src="../img/work_geofence_demo/Device04.png"/>
 				<span class="img-description ">Geofence ready to sync</span>
 			</div>
			</div>
		</div>
		<div class="content-div">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mid-column1">
 			<p>
 				<span>Getting in the Zone</span> <br>
 				A built-in map feature enables parents to establish a virtual fence. The user simply touches 
 				points on the map to create this safe area. The boundaries can be modified by adding, 
 				deleting, or moving points. With the geofence enabled, the vehicle will lose power if it 
 				strays beyond the boundaries.
 			</p>
 		</div>
 		<div class="last col-lg-6 col-md-6 col-sm-6 col-xs-12 mid-column2">
 			<p>
 				<span>Training Safe Drivers</span> <br>
 				Parents can set the maximum speed allowed within the geofence, lessening the chance that 
 				their child will lose control of the vehicle. Parents can also consult the app to review 
 				riding habits so that they can absolutely sure that their child is being safe and 
 				responsible.
 			</p>
 		</div>
 	</div>
 	<div class="content-div">
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
				<img class="img-responsive" src="../img/work_geofence_demo/Device05.png"/>
				<span class="img-description ">Scan Vehicles </span>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
				<img data-no-retina class="img-responsive" src="../img/work_geofence_demo/Device06.png"/>
				<span class="img-description ">Vehicle List</span>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
				<img class="img-responsive" src="../img/work_geofence_demo/Device07.png"/>
				<span class="img-description ">PIN code</span>
			</div>
			<div class="last col-lg-3 col-md-3 col-sm-3 col-xs-6">
				<img class="img-responsive" src="../img/work_geofence_demo/Device08.png"/>
				<span class="img-description ">Sync complete</span>
			</div>	
		</div>
		<div class="content-div">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
 			<p>
 				<span>Simple Set-Up</span> <br>
 				Parents sync the geofence perimeter and maximum speed with the vehicle using a Bluetooth 
 				connection. Syncing is not completed until the user types in a PIN code, which helps ensure 
 				that only parents can authorize settings. 
 			</p>
 		</div>
 	</div>
 	<div class="content-div">
 		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 special-layout">
 			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
 				<img class="img-responsive" src="../img/work_geofence_demo/Device09.png"/>
 				<span class="img-description "> Speed Limit </span>
 			</div>
 			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
 				<img class="img-responsive" src="../img/work_geofence_demo/Device10.png"/>
 				<span class="img-description ">Search Map</span>
 			</div>
 			<div class="last col-lg-4 col-md-4 col-sm-4 col-xs-6">
 				<img class="img-responsive" src="../img/work_geofence_demo/Device11.png"/>
 				<span class="img-description ">Terrain Map</span>
 			</div>	
		</div>
	</div>
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 logo-and-top">
		<img class="img-responsive app-logo" src="../img/work_geofence_demo/AppIcon.png"/>
		<span class="img-description ">App Icon </span>
		<img data-no-retina src="../img/top.svg" id="back-to-top2" class="button-top"/>
	</div>

	{% if page.cta %}
		{% include call_to_action.html %}
	{% endif %}