<h1>Lightspeed FlightLink System</h1>
	<div class="content main-div">
		<div class="content-div first">
	 		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mid-column1">
	 			<h2>Project</h2>
	 			<h3>FlightLink Connected System <br> </h3>
				<h2>Client</h2>
				<h3>Lightspeed Navigation</h3>
				<a target="_blank" href="https://itunes.apple.com/us/app/flightlink/id541925731?mt=8">
					<img data-no-retina class="img-responsive" src="../img/AppleAppStore.svg"/>
				</a>
	 		</div>
	 		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mid-column2">
	 			<img class="img-responsive" src="../img/work_flightlink/flightlink_header_graphic.png"/>
	 		</div>
		</div>
		<div class="content-div">
 			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mid-column1">
	 			<h1 class="title">Challenge</h1>
	 			<p>
	 				<span>Streamlining In-Flight Communication </span> <br>
	 				Flying an airplane is no easy matter. Pilots must constantly monitor dozens of gauges 
	 				and indicators in the cockpit while receiving updates from air traffic control. A 
	 				misheard communication adds stress and risk to the flying experience. What could 
	 				improve the flow of information between tower and pilot?
	 			</p>
 			</div>
	 		<div class="last col-lg-6 col-md-6 col-sm-6 col-xs-12 mid-column2">
	 			<img class="img-responsive" src="../img/work_flightlink/flightlink_start_ipad.png"/>
	 			<span class="img-description">Main View with Writing Pad </span>
	 		</div>
		</div>
		<div class="content-div">
 			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mid-column1">
	 			<h1 class="title">Solution</h1>
	 			<p>
	 				<span>FLYING WITH APP SUPPORT </span> <br>
	 				 Veux Labs began by interviewing pilots and observing them on several flights. 
	 				 We realized that an app offering a simple playback would answer most plane-to-tower 
	 				 concerns: if pilots could access recent communication with the touch of a button,
	 				 they wouldn’t need to ask air control to repeat updates. We quickly identified 
	 				 the iPad as the ideal support device, since iPads are commonly used for pre-flight 
	 				 checks and in-flight navigation.
	 			</p>
 			</div>
	 		<div class="last col-lg-6 col-md-6 col-sm-6 col-xs-12 mid-column2">
	 			<img class="img-responsive" src="../img/work_flightlink/flightlink_tutorial_ipad.png"/>
	 			<span class="img-description">Headset Connection and Setup</span>
	 		</div>
		</div>
		<div class="content-div">
	 		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mid-column1">
	 			<p>
	 				<span>Collecting Communications</span> <br>
	 				A unique hardware feature allows all cockpit intercom and radio traffic to be mixed and 
	 				then output to the iPad's auxiliary port or Bluetooth connection, where it is then recorded 
	 				by the FlightLink app. Certified under Apple’s Made For iPod (MFi) program, FlightLink is 
	 				a universal app for iPad, iPhone, and iPod Touch. 
	 			</p>
	 			<div class="only-desktop col-lg-6 col-md-6 col-sm-6 col-xs-6">
	 				<img class="small-image img-responsive" src="../img/work_flightlink/flightlink_library_ipad.png"/>
	 				<span class="img-description">Recording Library </span>
	 			</div>
	 			<div class="only-desktop col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
	 				<img class="small-image img-responsive" src="../img/work_flightlink/flightlink_record_night_ipad.png"/>
	 				<span class="img-description">Night Mode </span>
	 			</div>
	 			<div class="only-mobile col-lg-6 col-md-6 col-sm-6 col-xs-12">
		 			<img class=" img-responsive" src="../img/work_flightlink/flightlink_playback_ipad.png"/>
		 			<span class="img-description ">Playback Mode </span>
	 			</div>
 			</div>
	 		<div class="last only-desktop col-lg-6 col-md-6 col-sm-6 col-xs-12 mid-column2">
	 			<img class=" img-responsive" src="../img/work_flightlink/flightlink_playback_ipad.png"/>
	 			<span class="img-description ">Playback Mode </span>
	 		</div>
	 		<div class="only-mobile col-lg-6 col-md-6 col-sm-6 col-xs-6">
					<img class="small-image img-responsive" src="../img/work_flightlink/flightlink_library_ipad.png"/>
					<span class="img-description">Recording Library </span>
				</div>
				<div class="last only-mobile col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
					<img class="small-image img-responsive" src="../img/work_flightlink/flightlink_record_night_ipad.png"/>
					<span class="img-description">Night Mode </span>
	 		</div>
 		</div>
 		<div class="content-div">
 			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	 			<p>
	 				<span>One-Touch Access</span> <br>
	 				 Given the complex environment of the cockpit, FlightLink had to be easy to use. 
	 				 The user interface allows simple one-touch access to any segment of the last 
	 				 two minutes of recorded audio. A digital notepad enables the pilot to jot 
	 				 down instructions or other relevant information.
	 			</p>
	 			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
	 				<img class="img-responsive" src="../img/work_flightlink/flightlink_start_iphone.png"/>
	 				<span class="img-description ">Record Screen </span>
	 			</div>
	 			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
	 				<img class="img-responsive" src="../img/work_flightlink/flightlink_recording_iphone.png"/>
	 				<span class="img-description ">Recording Mode </span>
	 			</div>
	 			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
	 				<img class="img-responsive" src="../img/work_flightlink/flightlink_playback_iphone.png"/>
	 				<span class="img-description ">Playback Mode </span>
	 			</div>
	 			<div class="last col-lg-3 col-md-3 col-sm-3 col-xs-6">
	 				<img class="img-responsive" src="../img/work_flightlink/flightlink_library_iphone.png"/>
	 				<span class="img-description ">Recording Library </span>
	 			</div>
			</div>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 logo-and-top">
			<img class="img-responsive app-logo" src="../img/work_flightlink/App Icon.png"/>
			<span class="img-description ">App Icon </span>
			<img data-no-retina src="../img/top.png" id="back-to-top" class="button-top"/>
		</div>
	</div>