<h1>Bowflex HVT App</h1>
	<div class="content main-div">
		<div class="content-div first">
 		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mid-column1">
 			<h2>Project</h2>
 			<h3> Bowflex HVT App</h3>
			<h2>Client</h2>
			<h3>Nautilus Inc.</h3>
			<a target="_blank" href="https://itunes.apple.com/">
				<img data-no-retina class="img-responsive" src="../img/AppleAppStore.svg"/>
			</a>
			<a target="_blank" href="https://play.google.com/">
				<img data-no-retina class="img-responsive" src="../img/GooglePlayStore.svg"/>
			</a>
 		</div>
 		<div class="last col-lg-6 col-md-6 col-sm-6 col-xs-12 mid-column2">
 			<img class="img-responsive" src="../img/work_hvt/hvt_header_graphic.jpg"/>
 		</div>
		</div>
		<div class="content-div">
 		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
 			<h1 class="title">Challenge</h1>
 			<p>
 				<span>Header goes here </span> <br>
 				Leverage agile frameworks to provide a robust synopsis for high level overviews. 
 				Iterative approaches to corporate strategy foster collaborative thinking to further 
 				the overall value proposition. Organically grow the holistic world view of disruptive 
 				innovation via workplace diversity and empowerment. Bring to the table win-win survival 
 				strategies to ensure proactive domination. At the end of the day, going forward, a new 
 				normal that has evolved from generation X is on the runway heading towards a streamlined 
 				cloud solution. User generated content in real-time will have multiple touchpoints 
 				for offshoring.
 			</p>
 		</div>
		</div>
		<div class="content-div">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
 			<h1 class="title">Solution</h1>
 			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
 				<img class="img-responsive" src="../img/work_hvt/hvt_menu_iphone.jpg"/>
 				<span class="img-description ">Navigation</span>
 			</div>
 			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
 				<img class="img-responsive" src="../img/work_hvt/hvt_journal_2_iphone.jpg"/>
 				<span class="img-description ">Workout Stats</span>
 			</div>
 			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
 				<img class="img-responsive" src="../img/work_hvt/hvt_history_iphone.jpg"/>
 				<span class="img-description ">Weekly Progress</span>
 			</div>
 			<div class="last col-lg-3 col-md-3 col-sm-3 col-xs-6">
 				<img class="img-responsive" src="../img/work_hvt/hvt_journal_1_iphone.jpg"/>
 				<span class="img-description ">Journal Chart</span>
 			</div>
			</div>
		</div>
		<div class="content-div">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mid-column1">
 			<p>
 				<span>Header goes here</span> <br>
 				Leverage agile frameworks to provide a robust synopsis for high level overviews. 
 				Iterative approaches to corporate strategy foster collaborative thinking to further 
 				the overall value proposition. Organically grow the holistic world view of disruptive
 				innovation via workplace diversity and empowerment. Bring to the table win-win survival 
 				strategies to ensure proactive domination.
 			</p>
 		</div>
 		<div class="last col-lg-6 col-md-6 col-sm-6 col-xs-12 mid-column2">
 			<p>
 				<span>Header goes here</span> <br>
 				Leverage agile frameworks to provide a robust synopsis for high level overviews. 
 				Iterative approaches to corporate strategy foster collaborative thinking to further 
 				the overall value proposition. Organically grow the holistic world view of disruptive
 				innovation via workplace diversity and empowerment. Bring to the table win-win survival 
 				strategies to ensure proactive domination.
 			</p>
 		</div>
 	</div>
 	<div class="content-div">
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
				<img class="img-responsive" src="../img/work_hvt/hvt_workout_start_iphone.jpg"/>
				<span class="img-description ">Workout Start </span>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
				<img data-no-retina class="img-responsive" src="../img/work_hvt/hvt_workout_tutorial_iphone.jpg"/>
				<span class="img-description ">Workout Tutorial</span>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
				<img class="img-responsive" src="../img/work_hvt/hvt_workout_break_iphone.jpg"/>
				<span class="img-description ">Workout Break</span>
			</div>
			<div class="last col-lg-3 col-md-3 col-sm-3 col-xs-6">
				<img class="img-responsive" src="../img/work_hvt/hvt_workout_video_iphone.jpg"/>
				<span class="img-description ">Exercise Video</span>
			</div>	
		</div>
		<div class="content-div">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mid-column1">
 			<p>
 				<span>Header goes here</span> <br>
 				Leverage agile frameworks to provide a robust synopsis for high level overviews. 
 				Iterative approaches to corporate strategy foster collaborative thinking to further 
 				the overall value proposition. Organically grow the holistic world view of disruptive
 				innovation via workplace diversity and empowerment. Bring to the table win-win survival 
 				strategies to ensure proactive domination.
 			</p>
 		</div>
 		<div class="last col-lg-6 col-md-6 col-sm-6 col-xs-12 mid-column2">
 			<p>
 				<span>Header goes here</span> <br>
 				Leverage agile frameworks to provide a robust synopsis for high level overviews. 
 				Iterative approaches to corporate strategy foster collaborative thinking to further 
 				the overall value proposition. Organically grow the holistic world view of disruptive
 				innovation via workplace diversity and empowerment. Bring to the table win-win survival 
 				strategies to ensure proactive domination.
 			</p>
 		</div>
 	</div>
 	<div class="content-div">
 		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
 			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
 				<img class="img-responsive" src="../img/work_hvt/hvt_custombuild_iphone.jpg"/>
 				<span class="img-description ">Custom Workout </span>
 			</div>
 			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
 				<img class="img-responsive" src="../img/work_hvt/hvt_coach_iphone.jpg"/>
 				<span class="img-description ">Start Tutorial</span>
 			</div>
 			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
 				<img class="img-responsive" src="../img/work_hvt/hvt_learn_iphone.jpg"/>
 				<span class="img-description ">Learning Paths</span>
 			</div>
 			<div class="last col-lg-3 col-md-3 col-sm-3 col-xs-6">
 				<img class="img-responsive" src="../img/work_hvt/hvt_learnworkouts_iphone.jpg"/>
 				<span class="img-description ">Learn Workouts</span>
 			</div>	
		</div>
	</div>
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 logo-and-top">
		<img class="img-responsive app-logo" src="../img/work_hvt/app_icon.jpg"/>
		<span class="img-description ">App Icon </span>
		<img data-no-retina src="../img/top.png" id="back-to-top2" class="button-top"/>
	</div>
