<h1 class="landing">Bowflex Hybrid Velocity Trainer</h1>
	<div class="content main-div">
		<div class="content-div first">
 		<div class="col-lg-5 col-md-5 col-sm-6 col-xs-12 mid-column1">
 			<h2 class="landing">Project</h2>
 			<h3 class="landing">Bowflex Hybrid Velocity Trainer</h3>
			<h2 class="landing">Client</h2>
			<h3 class="landing">Nautilus Inc.</h3>
			<a target="_blank" href="https://itunes.apple.com/">
				<img class="store-link"  data-no-retina class="img-responsive" src="../img/AppleAppStore.svg"/>
			</a>
			<a target="_blank" href="https://play.google.com/">
				<img class="store-link"  data-no-retina class="img-responsive" src="../img/GooglePlayStore.svg"/>
			</a>
 		</div>
 		<div class="col-lg-7 col-md-7 col-sm-6 col-xs-12 mid-column2">
 			<img class="img-responsive header" src="../img/work_hvt/hvt_header_graphic.png"/>
 		</div>
		</div>
		<div class="content-div">
 		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
 			<h1 class="title">Challenge</h1>
 			<p>
 				<span>Maximizing the Daily Workout</span> <br>
 				The Hybrid Velocity Trainer (HVT) is a new kind of at-home fitness
 				machine: it combines cardio and strength in workout programs built
 				from an array of 50 moves. To get the most out of the HVT, users
 				must master the moves. Seeing improvement is also critical. Otherwise,
 				motivation wanes and the HVT becomes an expensive clothes hanger.
 			</p>
 		</div>
		</div>
		<div class="content-div">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
 			<h1 class="title">Solution</h1>
 			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
 				<img class="img-responsive" src="../img/work_hvt/hvt_menu_iphone.png"/>
 				<span class="img-description ">Navigation</span>
 			</div>
 			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
 				<img class="img-responsive" src="../img/work_hvt/hvt_journal_2_iphone.png"/>
 				<span class="img-description ">Workout Stats</span>
 			</div>
 			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
 				<img class="img-responsive" src="../img/work_hvt/hvt_history_iphone.png"/>
 				<span class="img-description ">Weekly Progress</span>
 			</div>
 			<div class="last col-lg-3 col-md-3 col-sm-3 col-xs-6">
 				<img class="img-responsive" src="../img/work_hvt/hvt_journal_1_iphone.png"/>
 				<span class="img-description ">Journal Chart</span>
 			</div>
			</div>
		</div>
		<div class="content-div">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mid-column1">
 			<p>
 				<span>Learning the Basics ... and Beyond</span> <br>
 				Veux Labs’s app has a prominent “Learn” feature that offers insights into
 				the theory behind HVT: a workout that blends cardio and strength is both
 				efficient and effective. The feature also explains and reviews each of the
 				50 exercise moves, and introduces the Total Power tracking feature, a proprietary
 				fitness metric developed for HVT workouts. Users can easily access the information
 				they need to begin their fitness journey.
 			</p>
 		</div>
 		<div class="last col-lg-6 col-md-6 col-sm-6 col-xs-12 mid-column2">
 			<p>
 				<span>Tracking Progress</span> <br>
 				A key to sticking with a fitness program is seeing progress:
 				longer endurance, increased strength, more flexibility, and,
 				of course, weight loss and muscle gain. The HVT app compiles
 				performance data and then offers feedback through statistics
 				and other measures of improvement. Users can compare workouts,
 				work toward short and long-term goals, and win awards for
 				achieving milestones.
 			</p>
 		</div>
 	</div>
 	<div class="content-div">
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
				<img class="img-responsive" src="../img/work_hvt/hvt_workout_start_iphone.png"/>
				<span class="img-description ">Workout Start </span>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
				<img data-no-retina class="img-responsive" src="../img/work_hvt/hvt_workout_tutorial_iphone.png"/>
				<span class="img-description ">Workout Tutorial</span>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
				<img class="img-responsive" src="../img/work_hvt/hvt_workout_break_iphone.png"/>
				<span class="img-description ">Workout Break</span>
			</div>
			<div class="last col-lg-3 col-md-3 col-sm-3 col-xs-6">
				<img class="img-responsive" src="../img/work_hvt/hvt_workout_video_iphone.png"/>
				<span class="img-description ">Exercise Video</span>
			</div>
		</div>
		<div class="content-div">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
 			<p>
 				<span>Customizing the Workout</span> <br>
 				HVT comes with three preconfigured workouts: Sprint, Circuit, and Builder.
 				Some users may choose simply to cycle through these preset modes.
 				However, variety can counter fitness burnout, so the HVT app also enables
 				customized workouts. Users build a new routine by choosing a workout style
 				and adding exercises based on their preferences and desired outcomes. The
 				custom workouts can be edited later to refine the experience.
 			</p>
 		</div>
 	</div>
 	<div class="content-div">
 		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
 			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
 				<img class="img-responsive" src="../img/work_hvt/hvt_custombuild_iphone.png"/>
 				<span class="img-description ">Custom Workout </span>
 			</div>
 			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
 				<img class="img-responsive" src="../img/work_hvt/hvt_coach_iphone.png"/>
 				<span class="img-description ">Start Tutorial</span>
 			</div>
 			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
 				<img class="img-responsive" src="../img/work_hvt/hvt_learn_iphone.png"/>
 				<span class="img-description ">Learning Paths</span>
 			</div>
 			<div class="last col-lg-3 col-md-3 col-sm-3 col-xs-6">
 				<img class="img-responsive" src="../img/work_hvt/hvt_learnworkouts_iphone.png"/>
 				<span class="img-description ">Learn Workouts</span>
 			</div>
		</div>
	</div>
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 logo-and-top">
		<img class="img-responsive app-logo" src="../img/work_hvt/app_icon.png"/>
		<span class="img-description ">App Icon </span>
		<img data-no-retina src="../img/top.svg" id="back-to-top2" class="button-top"/>
	</div>

	{% if page.cta %}
		{% include call_to_action.html %}
	{% endif %}
